/* stylelint-disable color-no-hex */
$prefix: 'osg';
$input: $prefix + '-input';

@function rem($value) {
  $base-font-size: 10px;
  @return $value / $base-font-size * 62.5 / 100 * 1rem;
}

.#{$input}-label-box {
  margin-bottom: rem(4px);

  &.#{$input}-label-box--hidden {
    // stylelint-disable declaration-no-important
    position: absolute !important;
    top: 0;
    clip: rect(1px, 1px, 1px, 1px) !important;
    overflow: hidden !important;
    height: 1px !important;
    width: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    // stylelint-enable declaration-no-important
  }

  .#{$input}-label {
    font-size: rem(14px);
  }
}

.#{$input}-box {
  position: relative;
  box-sizing: border-box;
  display: flex;
  line-height: 24px;
  letter-spacing: normal;

  .#{$input} {
    position: relative;
    font-size: rem(16px);
    z-index: 20;
    border: rem(1px) solid transparent;
    border-radius: 4px;
    outline: none;
    caret-color: #202223;
    color: #202223;
    padding: rem(5px) rem(12px);
    text-transform: none;
    letter-spacing: normal;
    display: block;
    flex: 1 1;
    width: 100%;
    min-width: 0;
    min-height: rem(36px);
    line-height: rem(24px);
    margin: 0;
    background: none;
    border-width: rem(1px);
    border-style: solid;
    border-color: transparent;
    border-image: initial;

    &::placeholder {
      color: #9c9798;
    }

    &.#{$input}--multiline {
      overflow: auto;
      padding-left: rem(12px);
      padding-right: rem(12px);
      resize: none;
    }

    &:disabled,
    &.#{$input}--disabled {
      background: none;
      color: #8c9196;
      opacity: 1;

      + .#{$input}-backdrop {
        background-color: #fafbfb;
        border-color: #d2d5d8;
      }
    }

    &[type='number'] {
      appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }
    }

    &:-webkit-autofill {
      border-radius: 4px;
    }
  }

  .#{$input}-backdrop {
    position: relative;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    border: rem(1px) solid #c9cccf;
    border-top-color: #aeb4b9;
    border-radius: 4px;
    pointer-events: none;
  }
}

.#{$input}-spinner {
  z-index: 20;
  margin: 3px;
  color: #202223;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  width: rem(22px);
  cursor: pointer;

  .#{$input}-spinner-button {
    background: #e4e5e7;
    border-radius: 2px;
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    appearance: none;
    border: none;

    &:focus {
      outline: none;
    }

    &:active {
      background: #c9ccd0;
    }

    &:first-child {
      border-top-right-radius: 2px;
      margin-bottom: rem(2.5px);
    }

    &:last-child {
      border-bottom-right-radius: rem(2.5px);
    }

    &:not(:first-child) {
      margin-top: 0;
    }

    .#{$input}-spinner-icon {
      width: rem(8px);
      height: rem(8px);
    }

    .#{$input}-spinner-icon svg {
      position: relative;
      display: block;
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      fill: #5c5f62;
      stroke: #5c5f62;
    }
  }
}
